.choose_theme_in_order-container{
    padding-top: 5%;
    width: 100%;
    overflow-y: scroll;
    height: calc(100vh - 100px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.choose_theme_in_order-container .choose_theme_in_order-item{
    width: 25%;
    /* height: 400px; */
    margin-bottom: 5%;
    background-color: #F9F8F2;
    /* border: 8px solid #44D2FF; */
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    min-height: 440px;
    height: fit-content;
}

.choose_theme_in_order-item img{
    width: 220px;
    height: 170px;
    margin-top: 3%;
}

.choose_theme_in_order-item .theme_in_order-item-title{
    width: 90%;
    margin: 10% 0 3% 0;
    line-height: 30px;
    height: 60px;
    /* color: #44D2FF; */
    font-family: "Kavoon", serif;
    font-size: 20px;
    text-align: left;
    padding-left: 8%;
}

.choose_theme_in_order-item .theme_in_order-item-content{
    width: 90%;
    margin: 3% 5% 5%;
    line-height: 30px;
    height: 80px;
    color: #828282;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    text-align: left;
    padding-left: 8%;
}

.choose_theme_in_order-item .theme_in_order-item-btn{
    line-height: 60px;
}

.choose_theme_in_order-item .theme_in_order-item-btn button{
    /* background-color: #44D2FF; */
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.choose_theme_in_order-item .theme_in_order-item-btn button:hover{
    background-color: #03b1e6 !important;
}
.choose_theme_in_order-item .theme_in_order-item-btn button.chosen:hover{
    background-color: #bb58fd !important;
}