.step_by_step-container{
    width: 100%;
    /* margin-bottom: 50px; */
    /* background-color: rgb(255, 250, 250); */
    background-image: url('/assets/Background-homepage.jpg');
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 0;
}

.step_by_step-container .title{
    width: 100%;
    font-family: "Kavoon", serif;
    font-size: 50px;
    text-align: center;
    color: rgb(180, 118, 250);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.step_by_step-container .content{
    width: 100%;
}

.step_by_step-container .step{
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    margin-bottom: 3%;
}


.step .step-img-1 {
    width: 70%;
    height: 100%;
    position: absolute;
    z-index: 0;
    left: 15%;
    transition: 1s ease;
}
/* Cắt hình ảnh bằng cách loại bỏ 20% từ bên phải*/
.step .step-img-1{
    clip-path: inset(0 5% 0 0);  
}
.step .step-img-2{
    clip-path: inset(0 20% 0 0);  
}

.step:hover .step-img-1{
    width: 75%;
    transition: 1s ease;
}


.step .number-img{
    width: 8%;
    height: 75%;
    position: absolute;
    z-index: 1; 
    left: 16%;
    transition: 1s ease;
}
.number-img-1{
    top: 12%;
}
.number-img-2{
    top: 9%;
}
.number-img-3{
    top: 10%;
}
.number-img-4{
    top: 14%;
}
.step:hover .number-img {
    left: 16% !important;
    transition: 1s ease;
}

.step .sub-content{
    position: absolute;
    z-index: 1;
    top: 22%;
    left: 25%;
    transition: 1s ease;
}
.step:hover .sub-content{
    left: 26%;
    transition: 1s ease;
}

.sub-content p:nth-of-type(1){
    font-size: 30px;
    font-family: "Kavoon", serif;
    color: rgb(255, 248, 228);
    margin: 0 0 2% 0;
}
.sub-content p:nth-of-type(2){
    margin: 0;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    color: rgb(108, 107, 107);
}

/* .step.step-img-2{
    clip-path: inset(0 25% 0 0);
}
.step .step-img-3{
    clip-path: inset(0 10% 0 0);
}
.step .step-img-4{
    clip-path: inset(0 25% 0 0);
} */



