.product-whole-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-family: "Josefin Sans", sans-serif;
}

.product-container {
    width: var(--max-screen-width);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-container .find-product {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.find-product .ant-input-outlined{
    border-color: rgb(182, 182, 182);
}
.find-product :where(.css-dev-only-do-not-override-j9bb5n).ant-input-outlined:hover {
    border-color: rgb(234, 166, 255) !important;
}
.find-product :where(.css-dev-only-do-not-override-j9bb5n).ant-input-outlined:focus-within{
    border-color: rgb(234, 166, 255) !important;
    box-shadow: 0 0 0 0.5px rgb(234, 166, 255);
}
.find-product :where(.css-dev-only-do-not-override-j9bb5n).ant-btn-primary {
    background: rgb(234, 166, 255);
}
.find-product :where(.css-dev-only-do-not-override-j9bb5n).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    background: rgb(228, 141, 255);
}

.find-product .select-product .ant-select-selector{
    border-color: rgb(182, 182, 182);
}
.find-product .select-product .ant-select-selector:hover {
    border-color: rgb(234, 166, 255) !important;
}

.find-product .ant-select-focused:where(.css-dev-only-do-not-override-j9bb5n).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    border-color: rgb(234, 166, 255) !important;
    box-shadow: 0 0 0 1px rgb(234, 166, 255);
}

.product-container .product-list{
    margin-top: 50px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center;
}

.product-list .not-found{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-list .not-found img{
    width: 723px;
    height: 550px;
}
.product-list .not-found .no-product{
    font-size: 18px;
    color: gray;
}

.product-list .product-item{
    border:  3px solid rgb(213, 188, 255);
    border-radius: 15px;
    width: 28%;
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 5%;*/
    margin: 0 2% 5%;
    padding-bottom: 2%;
    background-color: aliceblue;
}
.product-list .product-item img{
    width: 100%;
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    background-color: aqua;
}

.product-item .product-title{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 5%;
}
.product-item .product-title p:nth-of-type(1){
    width: 55%;
    color: rgb(100, 100, 100);
}
.product-item .product-title p:nth-of-type(2){
    width: 35%;
    text-align: right;
    color: rgb(100, 100, 100);
}

.product-item .product-name{
    width: 90%;
    margin: 0 5% 5%;
}

.product-item .product-des{
    width: 80%;
    margin: 0 10% 3%;
    color: rgb(92, 92, 92);
}

.product-item .product-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.product-item .product-info-item{
    margin: 3% 5% 3%;
    width: 40%;
}
/* .product-item .product-info-item:nth-of-type(1){
    background-color: pink;
} */

