.intro_package-container{
    width: 100%;
    height: 1000px;
    background-image: url('/assets/Background-homepage.jpg');
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    /* border-top: 10px solid rgba(235, 224, 255, 0.1); */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.intro_package-container .header {
    width: 100%;
    /* background-color: rgba(255, 157, 181, 0.2) !important; */
}

/* .intro_package-container .header img {
    width: 100%;
} */

.intro_package-container .title {
    width: 95%;
    color: #44D2FF;
    font-family: "Kavoon", serif;
    font-size: 60px;
    /* text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000,
        -3px -3px 0 #000,
        3px -3px 0 #000,
        0px -3px 0 #000,
        3px 3px 0 #000,
        -5px -1px 0 #000,
        3px 0 0 #000,
        0 -3px 0 #000,
        0 3px 0 #000,
        -4px -4px 0 #000,
        4px -4px 0 #000,
        -4px 4px 0 #000,
        4px 4px 0 #000,
        -4px 0 0 #000,
        4px 0 0 #000,
        0 -4px 0 #000,
        0 4px 0 #000; */

    text-shadow:
        5px 5px 0 #000,
        /* Right bottom shadow */
        -5px -5px 0 #000,
        /* Left top shadow */
        -5px 5px 0 #000,
        /* Left bottom shadow */
        5px -5px 0 #000,
        /* Right top shadow */
        5px 0 0 #000,
        /* Right shadow */
        -5px 0 0 #000,
        /* Left shadow */
        0 5px 0 #000,
        /* Bottom shadow */
        0 -5px 0 #000;
    text-align: center;
    position: absolute;
    padding-top: 10%;
    padding-left: 5%;
    margin: 0;
    /* background-color: rgba(255, 255, 255, 0.4); */
    /* border-radius: 20px; */
}

.intro_package-container .slogan{
    color: #5f74f3;
    font-family: "Josefin Sans", sans-serif;
    /* font-family: "Kavoon", serif; */
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    width: 95%;
    position: absolute;
    top: 25%;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.intro_package-container .intro-package {
    width: 100%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15%;
    /* margin-top: 23%; */
    padding: 10% 7%;
    /* position: absolute; */
}

.intro-package .package {
    width: 21%;
    height: 100%;
    background-color: #F9F8F2;
    border: 5px solid;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.intro-package .package:nth-of-type(2) {
    /* margin-top: -4%; */
}

.intro-package .first {
    border-color: #FB6F92;
}
.intro-package .second {
    border-color: #44D2FF;
}
.intro-package .third {
    border-color: #FAC069;
}
.intro-package .fourth {
    border-color: #A752F7;
}

.intro-package .first:hover {
    box-shadow: -1px -0px 8px 4px #FB6F92;
    transition: 0.3s ease;
}
.intro-package .second:hover {
    box-shadow: -1px -0px 8px 4px #44D2FF;
    transition: 0.3s ease;
}
.intro-package .third:hover {
    box-shadow: -1px -0px 8px 4px #FAC069;
    transition: 0.3s ease;
}
.intro-package .fourth:hover {
    box-shadow: -1px -0px 8px 4px #A752F7;
    transition: 0.3s ease;
}


.package .intro-package-content {
    width: 80%;
    height: 90%;
    margin: 5%;
    border: 5px dashed;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.first .intro-package-content {
    border-color: #FB6F92;
}
.second .intro-package-content {
    border-color: #44D2FF;
}
.third .intro-package-content {
    border-color: #FAC069;
}
.fourth .intro-package-content{
    border-color: #A752F7;
}

.intro-package-content img {
    width: 190px;
    height: 150px;
    border-radius: 30px;
    margin-top: 5%;
}

.intro-package-content p {
    font-family: "Kavoon", serif;
    font-size: 30px;
    /* margin-bottom: 0;
    padding: 0; */
    margin: 10% 0 0%;
}

.first .intro-package-content p {
    color: #FB6F92;
}
.second .intro-package-content p {
    color: #44D2FF;
}
.third .intro-package-content p {
    color: #FAC069;
}
.fourth .intro-package-content p {
    color: #A752F7;
}

.intro-package-content ul {
    width: 80%;
    margin-bottom: 5%;
}

.intro-package-content li {
    color: #828282;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 5%;
}
/* chỉnh màu của dấu đầu dòng */
.first .intro-package-content li::marker {
    color: #E82B5B;
}
.second .intro-package-content li::marker  {
    color: #0EB9EF;
}
.third .intro-package-content li::marker {
    color: #FAB769;
}
.fourth .intro-package-content li::marker  {
    color: #A752F7;
}

.first .intro-package-content li strong {
    color: #E82B5B;
}
.second .intro-package-content li strong {
    color: #0EB9EF;
}
.third .intro-package-content li strong {
    color: #FAB769;
}
.fourth .intro-package-content li strong {
    color: #A752F7;
}


.intro-package-content button {
    width: 50%;
    height: 50px;
    border-radius: 25px;
    border: none;
    color: white;
    font-family: "Kavoon", serif;
    font-size: 20px;
    margin-bottom: 10%;
    cursor: pointer;
}

.first .intro-package-content button {
    background-color: #FB6F92;
}

.second .intro-package-content button {
    background-color: #44D2FF;
}

.third .intro-package-content button {
    background-color: #FAC069;
}
.fourth .intro-package-content button {
    background-color: #A752F7;
}

.first .intro-package-content button:hover {
    background-color: #ed3e6a;
}
.second .intro-package-content button:hover {
    background-color: #00c3ff;
}
.third .intro-package-content button:hover {
    background-color: #fa9e13;
}
.fourth .intro-package-content button:hover {
    background-color: #8e1afa;
}