header{
    font-family: "Josefin Sans", sans-serif;
    background-color: var(--color-btn-login);
    padding: 12px 0;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 12px;
}

.general-information{
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 12px;
    padding: 12px;
}

.general-information .card{
    border-radius: 4px;
}

.general-information .panel-left{
    flex: 6;
    background-color: var(--color-login);
}
.general-information .panel-right{
    flex: 6;
    background-color: var(--color-register);
}

.order-container{
    margin:  0 5% 5%;
    height: 80%;
    width: 90%;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(113, 139, 229, 0.5);
}

.order-container .title{
    width: 100%;
    display: flex;
    justify-content: center;
}
.title .underline{
    width: 90%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.underline .order-title{
    color: black;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin: 3.5% 0 0;
    padding-bottom: 1%;
    width: 10%;
    border-bottom: 2px solid black;
    text-align: center
}

.underline .sort{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.underline .sort p{
    width: 25%;
    margin: 0 0 2%;
    font-family: "Josefin Sans", sans-serif;
}
.underline .sort select{
    height: 20px;
    margin-bottom: 1%;
    padding-left: 1%;
    color: #828282;
    font-family: "Josefin Sans", sans-serif;
    background-color: #EBEBEB;
    border-radius: 20px;
    border: none;
}


.order-container .content{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
.content table{
    width: 90%;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
}
.content table tr:nth-of-type(1){
    font-weight: bold;
}
.content table td{
    padding-bottom: 4%;
}
.content table .detail button{
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    color: white;
    background-color: rgb(124, 173, 255);
    padding: 8px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.content table .detail button:hover{
    background-color: rgb(96, 154, 254);
}

.detail-container {
    text-align: center;
    position: relative;
    padding: 0px 52px 12px 52px;
}
.nav{
    display: flex;
}

.ant-breadcrumb-separator{
    display: flex;
    align-items: center;
}

.list-product .product {
    margin-bottom: 12px;
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px lightgray;
}

.list-product .product .left {
    flex: 5;
    padding: 12px 0;
    border-right: 3px solid black;
}

.list-product .product .left ul {
    list-style-type: none;
}

.list-product .product .left ul li {
    padding: 12px 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
    transition: 0.3s;
}


.list-product .product .left ul li:hover {
    color: rgb(96, 154, 254);
}

.list-product .product .right {
    padding: 12px 0;
    flex: 7;
}

.list-product .product .right ul {
    list-style-type: none;
}


.list-product .product .right ul li {
    padding: 12px;
}

.list-data{
    text-align: left;
}

.active{
    color: rgb(96, 154, 254);
}

.btn-product-next{
    margin-top: 12px;
    background-color: rgb(96, 154, 254);
    border: 2px solid rgb(96, 154, 254);
    padding: 12px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s;
}

.btn-product-next:hover{
    background-color: transparent;
    color:rgb(96, 154, 254);
    border: 2px solid rgb(96, 154, 254);
}

/* choose-product-container */
.choose-product-container{
    margin:  0 5%;
}