.search {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.search .input-search {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 300px;
    height: 35px;
    font-size: 14px;

}

.search .btn-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    margin-left: 15px;
    height: 35px;
    width: 100px;
    border: 1px solid #FD66C3;
    background-color: #FD66C3;
    border-radius: 8px;
}

.search .create{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1%;
    height: 35px;
    border-radius: 8px;
    border: none;
    background-color: rgb(28, 127, 226);
    color: white;
    cursor: pointer;
}

.action {
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}

.view{
    background-color: #3572EF;
}

.edit{
    background-color: rgb(69, 141, 10);
}

.delete {
    background-color: red;
}

.choose-image{
    margin-top: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-normal);
}