.join_us-container {
    /* margin-bottom: 50px; */
    width: 100%;
    height: 800px;
    background-image: url('/assets/Background-homepage.jpg');
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: flex-start; */
    position: relative;
    /* border-bottom: 10px solid rgba(235, 224, 255, 0.2); */
    /* border-radius: 30px;
    border: 5px solid rgb(240, 153, 153);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2); */
    position: relative;
    z-index: 0;
}

.join_us-container .img-join {
    width: 100%;
    background-color: rgb(255, 255, 255, 0.3);
    position: absolute;
    z-index: 1;
}

.img-join img {
    width: 100%;
    height: 700px;
}

.join_us-container .content {
    width: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    top: 5%
}

.content .title {
    width: 100%;
    color: #44D2FF;
    font-family: "Kavoon", serif;
    font-size: 60px;
    /* text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000,
        -3px -3px 0 #000,
        3px -3px 0 #000,
        0px -3px 0 #000,
        3px 3px 0 #000,
        -5px -1px 0 #000,
        3px 0 0 #000,
        0 -3px 0 #000,
        0 3px 0 #000,
        -4px -4px 0 #000,
        4px -4px 0 #000,
        -4px 4px 0 #000,
        4px 4px 0 #000,
        -4px 0 0 #000,
        4px 0 0 #000,
        0 -4px 0 #000,
        0 4px 0 #000; */

    text-shadow:
        5px 5px 0 #000,
        /* Right bottom shadow */
        -5px -5px 0 #000,
        /* Left top shadow */
        -5px 5px 0 #000,
        /* Left bottom shadow */
        5px -5px 0 #000,
        /* Right top shadow */
        5px 0 0 #000,
        /* Right shadow */
        -5px 0 0 #000,
        /* Left shadow */
        0 5px 0 #000,
        /* Bottom shadow */
        0 -5px 0 #000;
        /* Top shadow */
    text-align: center;
    padding-left: 20%;
    margin: 0;
    /* -webkit-text-stroke: 5px black; */
}

.content .info {
    /* margin-top: 2%; */
    margin-left: 10%;
}

.content .info p:nth-of-type(1) {
    width: 100%;
    color: #FB6F92;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.content .info p:nth-of-type(2) {
    width: 100%;
    color: #808080;
    font-family: "Josefin Sans", sans-serif;
    font-size: 29px;
    /* margin: 10% 0; */
}

.content .info p:nth-of-type(3) {
    width: 100%;
    color: #FB6F92;
    font-family: "Kavoon", serif;
    font-size: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.content .info p:nth-of-type(3):hover {
    font-size: 45px;
    transition: 0.5s;
    text-shadow:
        -2px -2px 0 #fcd3da,
        2px -2px 0 #fcd3da,
        -2px 2px 0 #fcd3da,
        2px 2px 0 #fcd3da,
        -3px -3px 0 #fcd3da,
        3px -3px 0 #fcd3da,
        -3px 3px 0 #fcd3da,
        3px 3px 0 #fcd3da;
}