.kid_profile-container{
    margin:  0 5%;
    height: 100%;
    width: 90%;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(113, 139, 229, 0.5);
    display: flex;
    flex-direction: column;
}

.kid_profile-container .box-container{
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* overflow: hidden !important; */
}

.kid_profile-container .box{
    border-bottom: 1px solid gray;
    width: 90%;
}

.kid_profile-container .title{
    color: black !important;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 2%
}

/* chỉnh đường gạch chân của title */
.css-1aquho2-MuiTabs-indicator {
    background-color: black !important;
}



.kid_profile-container  .content{
    width: 90%;
    /* background-color: #e9e6e6; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}