.table_kid-container{
    margin:  0 5%;
    width: 90%;
    /* height: 430px; */
    /* height: 80%; */
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.table_kid-container :where(.css-dev-only-do-not-override-j9bb5n).ant-table-wrapper {
    width: 100%;
}

.table_kid-container .css-13xfq8m-MuiTabPanel-root{
    width: 95%;
}

.table_kid-container .ant-spin-container{
    width: 100%;
}


/* chỉnh tên cột */
.table_kid-container .ant-table-column-title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
}

/* chỉnh content ở trong */
.table_kid-container .ant-table-cell{
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    padding: 2% !important;
}

/* chỉnh nút search */
.table_kid-container .ant-table-filter-column .anticon svg {
    width: 20px !important;
    height: 20px !important;
}